.label {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	width: 100%;

	.name {
		color: var(--text);
		font-weight: bolder;
		font-size: 1.4rem;
		font-weight: 600;
	}

	.select {
		color: var(--text);
		padding: 1.2rem;
		border-radius: var(--radius1);
		box-shadow: var(--shadow25);
		border: var(--border-main);
		font-weight: 700;
		font-size: 1.4rem;
		appearance: none;
		background-size: 1.2rem;
		background: none;
		cursor: pointer;
		width: 100%;

		.option {
			background-color: var(--back);
			color: var(--main);
		}
	}

	.select:focus {
		outline: none;
	}
}
