.search_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;
	width: 100%;

	.search {
		display: flex;
		align-items: center;
		gap: 0.6rem;
		color: var(--text);
		width: clamp(100px, 95%, 720px);
		padding: 0.8rem 1.6rem;
		border: var(--border-main);
		border-radius: var(--radius1);
		box-shadow: var(--shadow25);

		&.full {
			width: 100%;
		}

		.search_input {
			background: none;
			color: var(--text);
			font-size: 1.8rem;
			width: 100%;

			&::placeholder {
				color: var(--text);
				opacity: 0.7;
			}
		}

		.search_button {
			display: flex;
			align-items: center;
			color: var(--text);

			.search_icon {
				font-size: 2.4rem;
				opacity: 0.7;

				&:hover {
					opacity: 1;
					transition: ease-in 0.2s;
				}
			}
		}
	}

	.out_button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.8rem 1.2rem;
		border-radius: var(--radius1);
		border: var(--border-main);
		font-size: 2rem;
		box-shadow: var(--shadow25);

		.out_icon {
			color: var(--text);
			font-size: 2.4rem;
			opacity: 0.7;

			&:hover {
				color: var(--main);
				opacity: 1;
				transition: ease-in 0.2s;
			}
		}
		.mic_off_icon {
			color: var(--main);
			font-size: 2.4rem;
			opacity: 1;
		}
	}
}
